/*
 * General Styles
*/


body {
  background-image: url('../images/background.jpg'); /*OJO: había que moverse entre las carpetas 
                                            ya que estábamos dentro de la carpeta CSS*/
  font-family: 'Open Sans', arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/

html{
  font-size: 100%;
}


h1, h2 {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: #ec7eb9;
  text-align: center;
  margin-bottom: 32px;
}

h1 {

  font-size: 40px;
}

h2 {
  font-size: 32px;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;
  line-height: 0px; /*Para eliminar un pequeo espacio que aparecía*/
  /*background: #FFF; Lo quitamos para que al redondear las esquinas no muestre nada debajo*/ 
}

.hero img { /* Si solo ponemos hero, sin hacer referencia al img, 
  la imagen deja de ser "responsiva"*/
  width: 100%;
  border-radius: 20px 20px 0 0; /*Para redondear las esquinas*/

}


section.intro, section.contact,section.map, section.credits{
  background: white;
  padding: 40px;
  text-align: justify;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

section{
  padding: 50px;
}

.contact{
  background: lightcoral;
  padding: 50px;

}


aside.left {
  float: left;
  padding: 10px;
  
  
}

aside.right{
  float: right;
  padding: 10px;

}

aside{
  margin-right: 30px;
}

.container section:nth-child(even){   /*Para que se le apliquen propiedades alternativamente a los contenedores*/
  background-color: lightblue;
}